<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://h5.sagiteam.cn/basketball/ios/{{APP_VERSION}}/debug{{DEBUG_VERSION}}/basketball-mobile.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>url</key>
                    <string>https://h5.sagiteam.cn/basketball/ios/{{APP_VERSION}}/debug{{DEBUG_VERSION}}/app.png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>url</key>
                    <string>https://h5.sagiteam.cn/basketball/ios/{{APP_VERSION}}/debug{{DEBUG_VERSION}}/app.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.sagiteam.basketball</string>
                <key>bundle-version</key>
                <string>{{APP_VERSION}}</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>单挑篮球</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>